@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
  }

  body {
    /* Fundo Papel, Texto Tinta, Seleção Azul */
    @apply bg-atlas-paper text-atlas-ink antialiased selection:bg-atlas-blue selection:text-white;
    overflow-x: hidden;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}